<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Header template</title>
  </head>
  <body>

    <header th:fragment="header">
      <div class="wad-navbar">
        <div class="brand-wrapper col-xs-3">
          <a href="/">Wepakalenteri</a>
        </div>
        <div class="action-wrapper col-xs-6">
          <div class="actions">
            <div class="col-xs-6">
              <input type="text" class="form-control" name="startDate" id="startDate" placeholder="From ..."/>
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" name="endDate" id="endDate" placeholder="To ..."/>
            </div>
          </div>
        </div>
        <div class="navigation-wrapper col-xs-3">
          <ul class="horizontal">
            <li><a th:href="@{/events}">Calendar</a></li>
            <li><a>Profile</a></li>
          </ul>
        </div>
      </div>
    </header>
    
  </body>
</html>
