<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Header template</title>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{~/calendar}">Wepakalenteri</a>
                    </div>
                    <div id="calendarNavbar">
                        <ul class="nav navbar-nav">
                            <li id="calendar-nav">
                                <a th:href="@{~/calendar}">
                                    <span class="glyphicon glyphicon-calendar nav-glyphicon"></span>
                                    <span class="nav-text">Calendar</span>
                                </a>
                            </li>
                            <li id="profile-nav">
                                <a th:href="@{~/profile}">
                                    <span class="glyphicon glyphicon-cog nav-glyphicon"></span>
                                    <span class="nav-text">Profile</span>
                                </a>
                            </li>
                            <li id="new-event-nav">
                                <a th:href="@{~/events/create}">
                                    <span class="glyphicon glyphicon-plus nav-glyphicon"></span> 
                                    <span class="nav-text">New event</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a th:href="@{~/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
</html>
