.wad-calendar {
  padding: 1rem;
  background-color: #FFFFFF;
  text-align: center;
}

.wad-calendar .week-wrapper {
  display: block;
  width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 0.3rem;
}

.wad-calendar .calendar-day {
  border-radius: 2px;
  display: inline-block;
  height: 8rem;
  width: 13.3%;
  border: 1px solid #E7E7E7;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
              0 3px 1px -2px rgba(0, 0, 0, 0.07),
              0 1px 5px 0 rgba(0, 0, 0, 0.06);
}

.wad-calendar .calendar-day-header {
  padding-top: 0.3rem;
  background-color: #F8F8F8;
  color: #575757;
  height: 20%;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
}

.wad-calendar .calendar-day-content {
  font-size: 0.7rem;
  color: #777;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 0.3rem;
  background-color: white;
  height: 60%;
}

.wad-calendar .calendar-day-footer {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0;
}

.wad-calendar .calendar-day-footer:hover {
  border-top: 1px solid #E7E7E7;
  background-color: #F8F8F8;
  opacity: 1;
}

.wad-calendar .calendar-day-footer a {
  padding-top: 0.3rem;
  display: block;
  width: 100%;
  height: 100%;
}

.wad-calendar .calendar-day-footer a .glyphicon {
  font-size: 0.9rem;
  color: #777;
}

.wad-datepicker {
  margin-top: 1rem;
  max-width: 93.1%;
}

.start-date-wrapper {
  padding-left: 0;
}

.show-button-wrapper {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  
  .start-date-wrapper, .end-date-wrapper, .show-button-wrapper {
    padding: 0;
  }
}
