html {
  background-color: #FFFFFF;
  font-size: 16px;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1 {
  padding-left: 0.9375rem;
}

.content-wrapper {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
