.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.wad-navbar {
  padding-top: 1rem;
  background-color: #395A83;
  height: 4rem;
}

.wad-navbar .action-wrapper .actions {
  display: block;
  margin: auto;
}

.wad-navbar .navigation-wrapper ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.wad-navbar a {
  color: white;
}
