.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),
              0 3px 1px -2px rgba(0, 0, 0, 0.07),
              0 1px 5px 0 rgba(0, 0, 0, 0.06);
}

.navbar-collapse {

}

.navbar .active {
  border-bottom: 2px solid #aaaaaa;
}

.navbar .nav a {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar .nav {
  margin-left: 3rem;
}

.wad-navbar {
  padding-top: 1rem;
  background-color: #395A83;
  height: 4rem;
}

.wad-navbar .action-wrapper .actions {
  display: block;
  margin: auto;
}

.wad-navbar .navigation-wrapper ul {
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.wad-navbar a {
  color: white;
}
