<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
  <head>
    <title>Calendar</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link rel="stylesheet" th:href="@{/css/calendar.css}" href="../../css/calendar.css" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../../css/navbar.css" />
    <link rel="stylesheet" th:href="@{/css/new-event.css}" href="../../css/new-event.css" />
  </head>
  <body>

    <header th:replace="components/header :: header">
      <p>Navigation bar</p>
    </header>

    <div class="wad-view-wrapper">
      <div class="wad-calendar">
        <h1>Events</h1>
        <a th:href="@{/newevent}">Add event</a>
        <div th:each="event : ${events}">
          <h2 th:text="${event.title}">title</h2>
          <span th:text="${event.place}">place</span>
        </div>

        <!--
        <div class="calendar-day">
          <div class="calendar-day-header">
            12.1.2017
          </div>
          <div class="calendar-day-content">
            <div th:each="event : ${events}">
              <span th:text="${event.title}">title</span>
            </div>
          </div>
          <div class="calendar-day-footer">
            <a th:href="@{/newevent}"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
        </div>-->

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
