<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Calendar</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
        <link rel="stylesheet" th:href="@{/css/calendar.css}" href="../../css/calendar.css" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../../css/navbar.css" />
    </head>
    <body>

        <header th:replace="fragments/header :: header"></header>

        <div class="container wad-datepicker">
            <form th:action="@{/calendar}" method="GET" id="calendar-datepicker-form">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 form-group start-date-wrapper">
                        <label for="startDate">Start date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate" placeholder="yyyy-MM-dd"/>
                    </div>
                    <div class="col-xs-12 col-sm-5 end-date-wrapper">
                        <label for="endDate">End date</label>
                        <input type="date" class="form-control" name="endDate" id="endDate" placeholder="yyyy-MM-dd"/>
                    </div>
                    <div class="col-xs-12 col-sm-2 form-group show-button-wrapper">
                        <label style="opacity: 0">Show</label>
                        <input type="submit" class="btn btn-primary form-control" id="submitDate" value="Show"/>
                    </div>
                </div>
            </form>
        </div>

        <div class="wad-calendar">
            <div class="week-wrapper" th:each="week : ${weeks}">
                <div class="calendar-day" th:each="day : ${week.days}">
                    <div class="calendar-day-header">
                        <a th:href="@{~/days/{date}(date=${#dates.format(day.date, 'yyyy-MM-dd')})}" th:text="${#dates.format(day.date, 'dd.MM.yyyy')}">22.12.2016</a>
                    </div>
                    <div class="calendar-day-content">
                        <div th:each="event : ${day.events}">
                            <a th:href="@{~/events/{id}(id=${event.id})}" th:if="${#strings.endsWith(event.title, 'Start')}" th:id="'event-' + ${event.id} + '-start'"><span th:text="${event.title}" class="event-start">title</span></a>
                            <a th:href="@{~/events/{id}(id=${event.id})}" th:if="${#strings.endsWith(event.title, 'End')}" th:id="'event-' + ${event.id} + '-end'"><span th:text="${event.title}" class="event-end">title</span></a>
                        </div>
                    </div>
                    <div class="calendar-day-footer">
                        <a th:href="@{/events/create/{date}(date=${#dates.format(day.date, 'yyyy-MM-dd')})}" th:id="'add-event-' + ${#dates.format(day.date, 'yyyy-MM-dd')}"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
