<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calendar - Login</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{~/css/main.css}" href="../../css/main.css" />
        <link rel="stylesheet" th:href="@{/css/login.css}" href="../../css/login.css" />
    </head>
    <body>
        <div class="wad-login container">
            <h1>Log in to your account</h1>
            <div class="alert alert-danger" th:if="${error} != null">
                <ul>
                    <li th:text="${error}">error</li>
                </ul>
            </div>
            <form method="post" th:action="@{~/login}" id="login-form">
                <div class="col-xs-12 form-group">
                    <label for="login-username">Username</label>
                    <input class="form-control" name="username" th:value="${username}" type="text" id="login-username"/>
                </div>
                <div class="col-xs-12 form-group">
                    <label for="login-password">Password</label>
                    <input class="form-control" name="password" type="password" id="login-password"/>
                </div>
                <div class="col-xs-12 form-group">
                    <button type="submit" class="btn btn-primary login-button" id="login-submit">Log in</button>
                </div>
            </form>
            <div class="col-xs-12 form-group">
                <p>Don't have an account? <a th:href="@{~/register}" id="login-register">Register here.</a></p>
            </div>
        </div>
    </body>
</html>
