<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Calendar - New event</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../../css/navbar.css" />
        <link rel="stylesheet" th:href="@{/css/event.css}" href="../../css/event.css" />
    </head>
    <body>

        <header th:replace="fragments/header :: header"></header>

        <div class="wad-new-event container">
            <h1>Add new event</h1>
            <form th:action="@{/events}" th:method="POST" id="new-event-form" class="event-form">
                <div class="col-xs-12">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Title"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="startDate">Start date</label>
                    <input type="date" class="form-control" name="startDate" id="startDate" th:value="${startDate}" placeholder="yyyy-MM-dd"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="endDate">End date</label>
                    <input type="date" class="form-control" name="endDate" id="endDate" th:value="${endDate}" placeholder="yyyy-MM-dd"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="startTime">Start time</label>
                    <input type="time" class="form-control" name="startTime" id="startTime" th:value="${startTime}" placeholder="HH:mm"/>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="endTime">End time</label>
                    <input type="time" class="form-control" name="endTime" id="endTime" th:value="${endTime}" placeholder="HH:mm"/>
                </div>
                <div class="col-xs-12">
                    <label for="place">Place</label>
                    <input type="text" class="form-control" name="place" id="place" placeholder="Place"/>
                </div>
                <div class="col-xs-12">
                    <label for="description">Description</label>
                    <textarea rows="4" class="form-control" name="description" id="description" placeholder="Description"/>
                </div>
                <button type="submit" class="btn btn-default new-event-button" id="new-event-add">Add event</button>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
