<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
        <link rel="stylesheet" th:href="@{/css/profile.css}" href="../../css/profile.css" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../../css/navbar.css" />
    </head>

    <body>

        <header th:replace="fragments/header :: header"></header>

        <div class="wad-profile container">
            <h1>Profile</h1>
            <div class="row content-wrapper">
                <div class="col-xs-12 col-md-6">
                    <h2>Account details</h2>
                    <span th:text="${username}">username</span>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>Friends</h2>
                    <div>
                        <h3>Friendlist</h3>
                        <div th:each="friend : ${friends}">
                            <ul class="list-inline">
                                <li><span th:text="${friend.username}">username</span></li>
                                <li>
                                    <form th:action="@{~/friends/remove}" method="post">
                                        <input type="hidden" name="username" th:value="${friend.username}"/>
                                        <input class="btn btn-danger" type="submit" value="Remove friend" th:id="'friend-remove-' + ${friend.username}"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h3>Friend requests</h3>
                        <div th:each="requester : ${requesters}">
                            <ul class="list-inline">
                                <li><span th:text="${requester.username}">username</span></li>
                                <li>
                                    <form th:action="@{~/friends}" method="post">
                                        <input type="hidden" name="username" th:value="${requester.username}"/>
                                        <input class="btn btn-success" type="submit" value="Accept" th:id="'friend-accept-' + ${requester.username}"/>
                                    </form>
                                </li>
                                <li>
                                    <form th:action="@{~/friends/remove}" method="post">
                                        <input type="hidden" name="username" th:value="${requester.username}"/>
                                        <input class="btn btn-danger" type="submit" value="Nah" th:id="'friend-decline-' + ${requester.username}"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form th:action="@{~/friends}" method="post">
                        <h3>Add a friend</h3>
                        <label>Username:</label>
                        <input type="text" name="username" th:value="${failedFriendUsername}"/>
                        <input class="btn btn-primary" type="submit" value="Add" id="friend-add"/>
                    </form>
                    <ul th:if="${addFriendError} != null">
                        <li th:text="${addFriendError}">error</li>
                    </ul>
                    <div>
                        <h3>Pending</h3>
                        <div th:each="target : ${pending}">
                            <ul class="list-inline">
                                <li><span th:text="${target.username}">username</span></li>
                                <li>
                                    <form th:action="@{~/friends/remove}" method="post">
                                        <input type="hidden" name="username" th:value="${target.username}"/>
                                        <input class="btn btn-danger" type="submit" value="Cancel" th:id="'friend-cancel-request-' + ${target.username}"/>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h2>Pending invites</h2>
                    <div th:each="participation : ${pendingParticipations}">
                        <span><a th:text="${participation.event.title}" th:href="@{~/events/{id}(id=${participation.event.id})}" th:id="'profile-event-' + ${participation.event.id}">Event title</a></span>
                        <span th:text="${' (by: ' + participation.event.owner.username + ') on ' + #calendars.format(participation.event.startTime,'dd.MM.yyyy HH:mm') + ' - ' + #calendars.format(participation.event.endTime,'dd.MM.yyyy HH:mm')}">Event (by: owner) on startTime - endTime</span>
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-success" th:href="@{~/events/{id}/participations/confirm(id=${participation.event.id})}" th:id="'profile-event-accept-' + ${participation.event.id}">Accept</a>
                            </li>
                            <li>
                                <a class="btn btn-danger" th:href="@{~/events/{id}/participations/remove(id=${participation.event.id})}" th:id="'profile-event-decline-' + ${participation.event.id}">Nah</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
