<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calendar - Register</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{~/css/main.css}" href="../../css/main.css" />
    </head>
    <body>
        <div class="container-fluid" align="center">
            <h1>Create a new account</h1>
            <br/>
            <form method="post" th:action="@{~/register}" th:object="${account}">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" name="username" th:field="*{username}" type="text" value="${username}" style="max-width:600px"/>
                    <div style="max-width:600px" align="left">
                        <ul>
                            <li th:if="${#fields.hasErrors('username')}" th:errors="*{username}">error</li>
                            <li th:if="${uniqueError != null}" th:text="${uniqueError}">error</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" name="password" th:field="*{password}" type="password" style="max-width:600px"/>
                    <div style="max-width:600px" align="left">
                        <ul>
                            <li th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm your password</label>
                    <input class="form-control" name="passwordConfirm" type="password" style="max-width:600px"/>
                    <div th:if="${matchError} != null" style="max-width:600px" align="left">
                        <ul>
                            <li th:text="${matchError}">error</li>
                        </ul>
                    </div>
                </div>
                <input name="role" th:field="*{role}" type="hidden" value="USER"/>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="js/registration.js"></script>
    </body>
</html>
